<template>
  <div class="page">
    <Navigation></Navigation>
    <div class="container">
      <div class="row">
        <Welcome></Welcome>
        <ActionSection></ActionSection>
        <Projects></Projects>
      </div>
    </div>
    <UploadModal></UploadModal>
  </div>
</template>

<script>
import Counter from '../components/Counter'
import Navigation from '../components/Nav'
import Welcome from '../components/Welcome'
import ActionSection from '../components/Action-Section'
import Projects from '../components/Projects'
import UploadModal from '../components/Upload-File-Modal'

export default {
  components: {
    Counter,
    Navigation,
    Welcome,
    ActionSection,
    Projects,
    UploadModal
  },
  mounted () {
  }
}
</script>

<style>
</style>
