<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar" style="margin-top:10px;">
                    <div class="btn-group action-group" role="group" style="margin-top:0;">
                        <button class="btn btn-primary" type="button" @click="addNewProject"><i class="icon ion-plus"></i> New Project</button>
                    </div>
                    <div class="btn-group action-group" role="group" style="margin-top:0;">
                        <button class="btn btn-primary" type="button" id="new-file-button"> <i class="icon ion-upload"></i> Upload New File</button>
                    </div>
                    <div class="btn-group action-group" role="group" style="margin-top:0;">
                        <button class="btn btn-primary" type="button" id="new-tool-button"> <i class="icon ion-upload"></i> Upload New Tool</button>
                    </div>
                    <div class="btn-group action-group" role="group" style="margin-top:0;">
                        <a class="btn btn-primary" role="button" href="#comment-modal" id="new-code-button"> <i class="icon ion-upload"></i> Upload Source Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


export default {
  computed: {
    count() {
      return this.$store.state.count
    }
  },
  mounted () {
  },
  updated () {
  
  },
  methods: {
    addNewProject () {
        this.$store.dispatch('addProject')
        this.$store.dispatch('getProjects')
    }
  }
}
</script>

<style scoped>

</style>
