<template>
  <div class="counter-wrapper">
    <div class="counter">
      {{ count }}
    </div>
    <button @click="$store.dispatch('deincrement')">Decrement</button>
    <button @click="$store.dispatch('increment')">Increment</button>
    <button @click="$store.dispatch('addProject')">Add Project</button>
    <button @click="$store.dispatch('getProjects')">Get Projects</button>
  </div>
</template>

<script>
export default {
  computed: {
    count() {
      return this.$store.state.count
    }
  },
  mounted () {
    // this.$store.dispatch('updateCount')
    // this.$store.dispatch('getID')
  },
  updated () {
    // this.$store.dispatch('getID')
  }
}
</script>

<style>
.counter {
  cursor: pointer;
  margin: 100px auto;
  border-radius: 3px;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 5rem;
  background-color: #f0f0f0;
  user-select: none;
}
</style>
