<template>
    <div class="col-md-3">
        <div class="thumbnail"><img :src="imageURL">
            <div class="caption">
                <a href="file.html">
                    <h3 class="text-nowrap">{{ this.name }}</h3>
                </a>
                <p>{{ this.description }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['name', 'description', 'imageURL'],
    methods: {
        deleteProject () {
            this.$store.dispatch('deleteProject', {value: this.projectId})
        }
    },
    mounted () {
    },
    updated () {
    }
}
</script>

<style scoped>
 
</style>
