<template>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item perduco-project">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a :href="/project/ + projectId">
                <img class="project-img img-responsive" :src="imageURL">
            </a>
        </div>
        <div class="project-detail-section col-xs-6 col-sm-6 col-md-6 col-lg-6">
            
            <a :href="/project/ + projectId">
                <h3 class="text-nowrap name">{{ title }}</h3>
            </a>

            <p class="description">{{ description }}</p>
        </div>
        <div class="project-footer col-xs-12">
            <div class="action-buttons">
                <div class="btn btn-danger" v-on:click="deleteProject">Delete</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['title', 'description', 'imageURL', 'projectId'],
    methods: {
        deleteProject () {
            this.$store.dispatch('deleteProject', {value: this.projectId})
        }
    },
    mounted () {
    },
    updated () {
    }
}
</script>

<style scoped>
    .perduco-project {
        background-color: white;
        -webkit-box-shadow: 6px 6px 14px 0px rgba(50, 50, 50, 0.35);
        -moz-box-shadow:    6px 6px 14px 0px rgba(50, 50, 50, 0.35);
        box-shadow:         6px 6px 14px 0px rgba(50, 50, 50, 0.35);
        padding: 0;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .action-buttons {
        padding: 0;
        height: 50px;
        position: absolute;
        bottom: 0;
        right: 10px;
    }
    .name { 
        margin-bottom: 10px;
    }
    .project-detail-section {
        padding: 10px;
    }
    h1, h2, h3, h4, h5, h6, a, p {
        margin: 0;
        padding: 0;
    }
</style>
