<template>
    <div class="project-wrap col-xs-12 row">
        <div class="project-list col-xs-12" v-for="project in this.$store.state.projects">
            <Project :title="project.title" :description="project.description" :projectId="project._id" imageURL="../static/media/meeting.a2abf076.jpg"></Project>
        </div>
    </div>
</template>

<script>
import Project from './Project'
import Store from '../store/index.js'

export default {
data: function () {
    return {
        publicState: this.$store.state,
        projects: Store.state.projects
    }
},
watch: {
    projects: function(newProject) {
        console.log('Deteced change in Projects')
        that.$store.dispatch('getProjects')
    }
},
components: {
    Project
},
methods: {
    // updateProjects (that, interval) {
    //     setInterval(function () {
    //         console.log('Updating projects...')
    //         that.$store.dispatch('getProjects')
    //     }, interval)
    // }
},
mounted () {
    console.log('Fetching projects...')
    this.$store.dispatch('getProjects')
    
    // this.updateProjects(this, 10000)
    
    console.log('PROJECTS IN VIEW', this.publicState.projects)
},
beforeUpdate () {

}

}
</script>

<style scoped>
    .project-wrap {
        margin-top: 30px;
    }
</style>
