<template>
    <div class="project-info-wrap">
        <div class="col-md-12">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-book"></i> Documents </a></li>
                    <li><a href="#tab-2" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-wrench"></i> Tools </a></li>
                    <li><a href="#tab-3" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-tasks"></i> Source Code</a></li>
                </ul>
                <div class="tab-content">
                    
                    
                    <div class="tab-pane active" role="tabpanel" id="tab-1" style="padding:10px;">
                        <FileCard name="Document 1" description="A document" imageURL="../static/media/meeting.a2abf076.jpg"></FileCard>
                    </div>


                    <div class="tab-pane" role="tabpanel" id="tab-2" style="padding:10px;">
                       <FileCard name="Tool 1" description="A tool" imageURL="../static/media/meeting.a2abf076.jpg"></FileCard>
                    </div>


                    <div class="tab-pane" role="tabpanel" id="tab-3" style="padding:10px;">
                        <FileCard name="Source Code 1" description="Some Source Code" imageURL="../static/media/meeting.a2abf076.jpg"></FileCard>
                    </div>


                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FileCard from './file-card'

export default {
    components: {
        FileCard
    },
    methods: {
        deleteProject () {
            this.$store.dispatch('deleteProject', {value: this.projectId})
        }
    },
    mounted () {
    },
    updated () {
    }
}
</script>

<style scoped>
    .project-info-wrap {
        margin-top: 200px;
    }
</style>
