<template>
    <div class="modal fade" role="dialog" tabindex="-1" id="upload-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Upload New File</h4></div>
                <div class="modal-body">
                    <label>Choose Project</label>
                    <select class="input-sm" id="project-select">
                        <optgroup label="Projects">
                            <option value="12" selected="">Project 1</option>
                            <option value="13">Project 2</option>
                            <option value="14">Project 3</option>
                            <option value="">Project 4</option>
                        </optgroup>
                    </select>
                    <div id="upload-file-box">
                        <div class="col-xs-3 col-xs-push-4"><i class="icon ion-upload" id="upload-file-icon"></i></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button">Upload</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


export default {
  computed: {
    count() {
      return this.$store.state.count
    }
  },
  mounted () {
  },
  updated () {
  }
}
</script>

<style scoped>

</style>
