<template>
    <div class="welcome-message col-md-12">
        <h1>Welcome! </h1>
        <p>Please choose a project to get started!.</p>
    </div>
</template>

<script>
export default {
  computed: {
    count() {
      return this.$store.state.count
    }
  },
  mounted () {
  },
  updated () {
  }
}
</script>

<style scoped>
    .welcome-message {
        text-align: left;
    }
</style>
