.license-agreement {
  display:block;
  text-align:center !important;
}

.container-bg {
  background-color:rgb(244,244,244);
}

.action-group {
  margin-top:20px;
  margin-bottom:20px;
  display:block;
}

.comment-wrap {
  background-color:rgb(228,228,228);
  padding:20px;
  margin-top:20px;
  margin-bottom:20px;
}

.comment-avatar {
  display:block;
  margin:0 auto;
  padding:5px;
  box-shadow:0px 11px 38px 0px rgba(0,0,0,0.21);
}

.comment-inner-wrap {
  padding-bottom:20px;
  margin-bottom:20px;
}

.comment-toolbar {
  margin-top:10px;
  margin-bottom:10px;
}

.comment-header {
  margin-top:40px;
  margin-bottom:20px;
}

.perduco-icon {
  margin-left:90px !important;
  padding-right:3px;
}

#upload-file-box {
  height:225px;
  border:5px dashed lightgrey;
}

#upload-file-icon {
  color:lightgrey;
  font-size:10em;
  text-align:center;
}

select#project-select.input-sm {
  width:100%;
  margin-top:0px;
  margin-bottom:20px;
}

.perduco-project {
  margin-bottom:20px;
}

footer#perduco-footer {
  position:static;
  bottom:-50px;
  height:50px;
  background-color:black;
}

